// colors

@function color($key) {
  @if map-has-key($colors, $key) {
      @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";

  @return null;
}

@mixin mediamin($breakpoint) {
  @media (min-width: $breakpoint) {
      @content;
  }
}

@mixin mediamax($breakpoint) {
  @media (max-width: $breakpoint) {
      @content;
  }
}

@mixin link($link, $hover) {
  & {
      color: $link;

      &:hover {
          color: $hover;
      }
  }
}

@mixin transition($p: all, $d: 300ms, $t: linear) {
  transition: $p $d $t;
}
