
$font-family: map-get($fonts, 'family')
$font-color: map-get($fonts, 'color')
$font-size: map-get($fonts, 'size')

html, body
    color: map-get($colors, first)
    background-color: map-get($font-color, white)
    font-family: map-get($font-family, first), sans-serif
    font-size: map-get($font-size, l)
    line-height: 1.5
    font-style: normal
    font-weight: 300

*::-webkit-scrollbar
    width: 5px

*::-webkit-scrollbar-track
    background: #fff
 
*::-webkit-scrollbar-thumb
    background: #cccccc

*::-webkit-scrollbar-thumb:hover
    background: #aeaeae

.app
    display: grid
    grid-template-columns: 3fr 1fr
    grid-template-areas: "list sidebar" "footer footer"
    gap: 0 30px

    .app__sidebar
        grid-area: sidebar
        text-align: left
        margin-top: 45px

    .app__list
        grid-area: list

    .app__footer
        grid-area: footer
        text-align: right
        padding: 18px 10px 6px

.list__header
    display: flex
    justify-content: flex-end
    align-items: center
    min-height: 45px

.section__title
    font-size: 18px
    font-weight: 700
    line-height: 1.2
    margin: 0 0 20px

/*
 * multiselect
 */

.multiselect
    margin: 0 5px 0 0

    &__wrap
        margin: 0 5px 0 0

    .multiselect-dropdown
        overflow-y: auto

    &.multiselect--rows-per-page
        display: inline-block
        margin: 0 0 0 5px
        width: 60px

        .multiselect-single-label
            padding-right: 0

    &.multiselect--status
        width: 200px

    &.multiselect--type
        width: 200px


/*
 * statistics
 */

.statistics
    position: relative
    background: color(gray_superlight)
    padding: 10px
    position: relative
    margin-bottom: 20px

    &.statistics--sidebar
        padding: 20px

    &.statistics--td
        margin: 0

    &__item-separator
        margin: 20px 0 10px

        &:last-child
            margin-bottom: 0


.group__total-distance
    margin-top: 20px


.training-td--group-head
    padding: 0


/*
 * statistics
 */

.list
    &__table-wrap
        overflow-y: auto
        height: calc(100vh - 90px)


